:root {
    --primary: #8c77ec;
    --light-bg: #f8f9fe;
    --text-muted: #888;
    --card-radius: 15px;
    --sidebar-width: 260px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-bg);
    font-size: 0.9rem;
    color: #333;
    overflow-x: hidden;
}